
/* Estilos Header */

header {
    background-color: #483078;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
  
    .header-logo img {
      max-width: 180px;
      opacity: 0.9;
      transition: 0.2s opacity;
  
      &:hover {
        opacity: 1;
      }
    }
  
    .header-menu ul {
      display: flex;
  
      li {
        list-style: none;
  
        a {
          color: white;
          margin-left: 50px;
          text-decoration: none;
          transition: 0.1s border-bottom;
  
          &:hover {
            border-bottom: 2px solid white;
          }
        }
      }
    }
  }