/* Mixin para estilos de fondo de imagen */
@mixin bg-image($url) {
  background: url('#{$url}');
  background-repeat: no-repeat;
  background-size: cover;
}

// Variables

$dark-purple: #906090;
$light-purple: #c695c6;

/* Estilos Seccion Principal Home */

.bg-dark-purple {
  @include bg-image('../img/bg-dark-purple.png');
}

  
  .primera-seccion {
    display: flex;
    align-items: center;
    padding-top: 65px;
    padding-bottom: 65px;
    justify-content: space-between;
  
    .title {
      padding: 50px 50px 50px 0;
      color: white;
  
      h1 {
        font-size: 55px;
        font-weight: 700;
        margin-bottom: 25px;
      }
  
      p {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 35px;
        line-height: 150%;
      }
    }

    .img{
      max-width: 560px;
    }
    
  }

.box-img-new-game {
  width: 100%;
  height: 200px;
  position: relative;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}

.text-truck-game{
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Número de líneas que se mostrarán */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}  
  

  /* Estilos Formulario Subscribete */

.caja-subscribete {
  padding: 65px 0;
  text-align: center;

  h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 25px;
    color: white;
  }

  p {
    color: white;
    font-size: 18px;
    margin-bottom: 25px;
    margin-top: 25px;
  }

  form input[type="text"] {
    padding: 12px;
    color: black;
    width: 100%;
  }
}