/* Estilos Pagina Noticias */

.banner-noticias .titulo {
    color: #D296D2;
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    -webkit-text-stroke: 2px #B01BC8;
    padding-top: 20px;
  }

.box-img-card-news{
  max-height: 200px;
  object-fit: cover;
} 


/* Estilos Mobile Media Queries */

@media (max-width: 768px) {
    /* Estilos Pagina Noticias Mobile  */
  
    .formulario {
      width: 100%;
    }
  }
  