/* Estilos Pagina Reviews */

.bg-img-dark {
    background: url('../img/bg-img-dark.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bg-dark-blue {
    background-color: #001848;
  }
  
  .bg-purple-light {
    background-color: #906090;
  }
  